.navigation_container {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease;
  position: relative;
}
.main_logo {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.nav_items {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.1s ease;
}
.nav_item {
  margin: 0 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 0.1s ease;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .navigation_container {
    flex-direction: column;
  }
  .nav_items {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .nav_item {
    margin: 0 15px;
  }
}
