td {
  padding: 1rem 2rem;
  vertical-align: middle;
}
.center_table-data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center_table-data svg {
  margin: 0 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 630px) {
  td {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 440px) {
  .center_table-data svg {
    margin: 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
    opacity: 0.6;
  }
  td {
    padding: 0;
  }
}
