.sign_container {
  display: grid;
  margin-top: 3rem;
  gap: 1rem;
  transition: 0.1s ease;
}

/* media queries */

@media only screen and (min-width: 600px) {
  .sign_container {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    transition: 0.1s ease;
  }
}
